<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.ssm1.dao.EmployeeMapper">

    <!-- List<Employees> getEmps(); -->
    <select id="getEmps" resultType="com.kc.ssm1.bean.Employees">
        SELECT * FROM tbl_employee;
    </select>


</mapper>